.user{
    padding:130px 0;
    background: linear-gradient(106.75deg, #2272FF 0%, #0D03C3 100%);
}

.user h3{
    color: #FFFFFF;
    
}

.user .userList{
    display:flex;
    gap: 27px;
    margin-bottom: 40px;
    align-items: center;

}

.user .userList h5{
    font-weight: 700;
font-size: 26px;
line-height: 32px;

letter-spacing: -0.02em;
margin-bottom: 5px;
color: #FFFFFF;
}

.user .userList p{
    width: 312px;
    max-width: 100%;
    font-weight: 500;
    font-size: 18.9045px;
    line-height: 32px;
   
    
    letter-spacing: -0.02em;
    
    color: #FFFFFF;
    
    opacity: 0.8;

}

.user .commonBtn{
    background:#fff;
    color: #0F0BC7;
    padding: 19px 35px;
}

.user .userText{
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}

.user .userDetails{
    display: flex;
    justify-content: space-between;
    
}

.user .list{
    width:40%;
}

.user .userImage{
    width:60%;
text-align: end;    
}

